{
    "CreateAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "true"
    },
    "DebugEventsFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example"
    },
    "ListAgreementsFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example"
    },
    "ListLedgerFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example"
    },
    "ApproveAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "true",
        "TRANSITION_EVENT_TYPE": "AgreementApproved",
        "EXPECTED_CURRENT_STATUS": "CREATED",
        "NEXT_STATUS": "APPROVED"
    },
    "FundAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "true",
        "TRANSITION_EVENT_TYPE": "AgreementFunded",
        "EXPECTED_CURRENT_STATUS": "APPROVED",
        "NEXT_STATUS": "FUNDED"
    },
    "SettleAgreementFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example",
        "ENABLE_DEV_FAILURE_SIMULATION": "false",
        "ENABLE_MANUAL_SETTLEMENT_TRIGGER": "true",
        "TRANSITION_EVENT_TYPE": "AgreementSettled",
        "EXPECTED_CURRENT_STATUS": "FUNDED",
        "NEXT_STATUS": "SETTLED"
    },
    "SettlementProcessorFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example"
    },
    "OutboxDispatcherFunction": {
        "DATABASE_URL": "postgres://postgres:postgres@postgres:5432/payments_example",
        "EVENT_PUBLISHER_MODE": "local",
        "EVENT_BUS_NAME": "default",
        "OUTBOX_DISPATCH_BATCH_SIZE": "20"
    }
}
